/*Menus & Action Sheets & Modals*/

$theme-dark-menu-hider: rgba(0,0,0,0.7);
$theme-light-menu-hider: rgba(0,0,0,0.35);

/*--Menu System---*/
.menu-title {
    margin-top:$globalMargin/1.5;
    margin-bottom:$globalMargin/1.5;
    position:relative;
	h1 {
		font-size: 24px;
		font-weight: 700;
		padding: 20px 0px 10px 15px;
	}
	p {
        font-weight:600;
        font-size:12px;
		margin: 15px 0px -25px 15px!important;
		padding: 0px 0px 0px 0px;
	}
	a {
		font-size: 20px;
		color: $red;
		position: absolute;
		text-align: center;
		width: 55px;
		right: -2px;
        top:50%;
        margin-top:-13px;
    }
}
.menu-bg {
	background-color: $theme-light-background; 
}
.menu-hider {
	position: fixed;
	top: -100px;
	bottom: -100px;
	left: 0px;
	right: 0px;
	background-color: $theme-light-menu-hider;
	z-index: 100;
	pointer-events: none;
	opacity: 0;
	transition: $globalTransitions;
}
.menu {
	position: fixed;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: $color-white;
	z-index: 101;
	overflow: scroll;
    overflow-x:hidden;
	transition: $globalTransitions;
	-webkit-overflow-scrolling: touch;
	.content {
		margin-bottom: 0px !important;
	}
}
.menu-box-left {
	left: 0px;
	top: 0px !important;
	width: 250px;
	height: 100%;
	bottom: 0px;
	transform: translate3d(-100%,0,0);
}
.menu-box-right {
	right: 0px;
	transform: translateX(100%);
	top: 0px !important;
	height: 100%;
	bottom: 0px;
	width: 250px;
}
//.menu-header .card-top{
//    padding-top: calc(4px + (constant(safe-area-inset-top))) !important;
//    padding-top: calc(4px + (env(safe-area-inset-top))) !important;
//}
//
.menu-box-top {
	transform: translate3d(0, -115%, 0);
	top: 0px;
	left: 0px;
	right: 0px;
	height: 300px;
}

.menu-box-bottom {
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 300px;
	transform: translate3d(0, 100%, 0);
}
.menu-box-modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	opacity: 0;
	pointer-events: none;
	transition: all 200ms ease;
}
.menu-box-top.menu-box-detached {
	top: 10px;
	left: 10px;
	right: 10px;
}
.menu-box-bottom.menu-box-detached {
	bottom: 20px;
	left: 10px;
	right: 10px;
}
.menu-box-left.menu-active {transform: translate3d(0%, 0, 0) !important;}
.menu-box-right.menu-active {transform: translate3d(0%, 0, 0) !important;}
.menu-box-top.menu-active {transform: translate3d(0%, 0, 0) !important;}
.menu-box-bottom.menu-active {
	transform: translate3d(0%, 10px, 0) !important;
}
.menu-box-bottom-full.menu-active {
	transform: translate3d(0%, 0px, 0) !important;
}
.menu-box-modal.menu-active {
	transition: all 200ms ease;
	pointer-events: all !important;
	opacity: 1 !important;
	transform: translate(-50%, -50%) !important;
}
.menu-hider.menu-active {
	transition: $globalTransitions;
	opacity: 1;
	pointer-events: all;
}
.menu-hider.menu-active.menu-active-clear {
	background-color: $color-transparent !important;
}
.menu-box-left[data-menu-effect="menu-reveal"] {
    display:none;
	pointer-events: none;
	transform: translate(0px) !important;
	z-index: 86;
}
.menu-box-right[data-menu-effect="menu-reveal"] {
    display:none;
	pointer-events: none;
	transform: translate(0px) !important;
	z-index: 86;
}
.menu-active.menu {
	opacity: 1 !important;
	transition: $globalTransitions;
	pointer-events: all !important;
}
.menu-active {
	opacity: 1 !important;
}
.menu-active-no-click {
	opacity: 1;
	background-color: $theme-dark-menu-hider;
	pointer-events: all !important;
}
#menu-install-pwa-ios {
	overflow: visible !important;
}
.fa-ios-arrow {
	transform: translateY(4px);
}
.theme-light {
	.fa-ios-arrow {
		color: $color-white !important;
	}
}

.menu-open{
    overflow:hidden!important;
}

/*Menu Design*/

/*Menu*/

.menu-divider{
    padding-left:16px;
    text-transform:uppercase;
    font-weight:700;
    font-size:9px;
    letter-spacing:0.3px;
    width:102%;
    margin-top:20px;
    margin-bottom:20px;
    color:rgba(255,255,255,0.4)!important;
    box-shadow:inset -2px 0px 2px rgba(0,0,0,0.8);
    line-height:40px;
    border-top:solid 1px rgba(255,255,255,0.05);
    border-bottom:solid 1px rgba(255,255,255,0.05);
}

.list-menu{
    font-family:$font-heading-family;
    margin:0px 25px 0px 10px;
}
.list-menu a i:first-child{
    font-size:13px;
    border-radius:12px;
    height:32px!important;
    line-height:21px!important;
    width:32px!important;
    box-shadow:0 5px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.02);
}

.list-menu a i:last-child{
    transform:translateY(-4px);
    line-height:48px!important;
}

.list-menu a img{
    border-radius:12px;
    height:32px!important;
    line-height:32px!important;
    width:32px!important;
    margin-left:5px!important;
    box-shadow:0 5px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.02);
}

.list-menu a{
    line-height:40px;
    border:none!important;
}

.list-menu .badge{
    padding:3px 5px!important;
    font-size:9px!important;
    font-weight:600!important;
    margin-right:-2px!important; 
    transform:translateY(-1px);
    border:0px!important;
    border-radius:8px;
}
.list-menu .custom-control{ 
    margin-top:-44px!important;
}

.list-menu span{
    font-size:13px;
    font-weight:500;
    padding-left:7px;
    color:#767676;
}


.list-menu .nav-active span{
    color:#FFF;
    font-size:14px;
    font-weight:700;
}

.list-menu .nav-active::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color:#FFF;
    position:absolute;
    right:24px;
    color:#8CC152;
    font-size:8px;
    content: "\f111";
    margin-top:0px;
}

.list-menu .custom-control{
    right:32px!important;
}


/*Main Menu*/
#menu-contact .list-group a i:last-child,
#menu-main .list-group a i:last-child{
    color:#FFF!important;
}

.menu-dark-switch .custom-control-label{
    margin-right:0px!important;
    transform:translateY(65px);
}

.menu-dark-switch .custom-control-label::before{
    background-color:#1f1f1f!important;
    border:solid 1px rgba(255,255,255,0.15);
}
#menu-main .list-custom-large a{border:none!important;}
.menu .badge{color:#FFF!important; font-style:normal;}

/*Menu Design*/
.menu .header{position: relative!important; transform:translate(0,0)!important; box-shadow:none!important; background-color: transparent!important; border:none!important;}
.menu-list{padding:0px 22px 0px 20px;}
.menu-list a{border:none!important; margin-bottom:-7px!important;}
.menu-list span{font-size:14px!important; font-weight:700!important; font-family:$font-main-family!important;}
.menu-list strong{font-size:11px!important; font-weight:400!important;}
.menu-list i:last-child{font-size:7px!important;}


.sidebar-form [type="text"]{
    font-size:12px!important;
    height:50px!important;
    padding-left:35px;
    border-radius:0px!important;
    border-left:0px!important;
    border-right:0px!important;
    border-top:0px!important;
}
.sidebar-form textarea{
    font-size:12px!important;
    line-height:20px!important;
    padding-top:16px!important;
    padding-left:35px!important;
    height:50px!important;
    transition:all 250ms ease!important;
    border-radius:0px!important;
    border-left:0px!important;
    border-right:0px!important;
    border-top:0px!important;
}

.sidebar-form textarea:focus{
    height:200px!important;
}

.sidebar-form *::placeholder{
    font-size:12px!important;
}

.sidebar-form i{
    position:absolute;
    height:53px;
    line-height:53px;
    width:20px;
    padding-left:5px;
    text-align:center;
}

.sidebar-form input[type="submit"]{font-size:12px!important;}

.active-nav::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #FFF;
    position: absolute;
    right: 19px;
    color: #8CC152;
    font-size: 10px;
    content: "\f111";
    margin-top: 1px;
}